<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Birthday Gift</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div id="hearts"></div>

    <div class="container">

        <div class="emoji">🎂</div>

        <h1>AKU ADA SESUATU LOHH BUAT FEYY!!</h1>

        <p>Kira kira apa yahhh??? 👀</p>

        <button onclick="mulai()">
            Klik untuk Mulai
        </button>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html><!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Birthday Gift</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div id="hearts"></div>

    <div class="container">

        <div class="emoji">🎂</div>

        <h1>AKU ADA SESUATU LOHH BUAT FEYY!!</h1>

        <p>Kira kira apa yahhh??? 👀</p>

        <button onclick="mulai()">
            Klik untuk Mulai
        </button>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
